/*  your css code here. If applicable */
.layout{
	height:250px;
	border-radius:25px;
	border:2px solid black;
	display:flex;
	text-align:center;
	align-content: center;
    flex-wrap: wrap;
	justify-content:center;
	background:gray;
}
.green{
	color:rgb(0, 128, 0);
	width:100px;
	height:100px;
	border-radius:50%;
	margin:10px;
}
.yellow{
	 color:rgb(255, 255, 0);
	width:100px;
	height:100px;
	border-radius:50%;
	margin:10px;
}
.red{
	color:rgb(255, 0, 0);
	width:100px;
	height:100px;
	border-radius:50%;
	margin:10px;
}